
<%- include("includes/head.ejs") %>
<body>
    <h1>The page belongs to  @ <%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>
    <!-- <h3>Accounts that follow you</h3>
    <ul>
        

    </ul> -->
    <p> Followers : <%= data.followers %> &nbsp; &nbsp; &nbsp;&nbsp;
     Following : <%= data.following %> </p>
     <hr>
     <%for(let post of data.posts) { %>
         <img src = "<%= post.image %>" alt="some img">
         <p> Likes : <%= post.likes %> &nbsp; &nbsp; &nbsp;&nbsp;
            comments : <%= post.comments %> </p>
     <% } %>


     <%- include("includes/footer.ejs") %>
    
</body>

<script src="/app.js"></script>

</html>